html, body{min-height:100%;}
body{height:100vh;}

nav {
    height:10%; 
}

.nav-wrapper {
    background: linear-gradient(to right, rgb(56, 0, 187) , rgb(109, 199, 206)); 
}

section {
    height: 90%;
}

#full-body {
    height: 100%;
}

#right-section {
    height: 100%;
}

#search-bar {
    flex-direction: row;
}

#city-search-input {
    width: auto;
}

.valign-wrapper {
    width: max-content;
}

li {
    width: 100%;
}

#today-box {
    height: 45%;
    width: 100%;
}

#five-day-box {
    height: 45%;
    width: 100%;
    justify-content: space-between;
}

.card {
    max-height: 95%;
}

h3 {
    margin: 0;
}