html, body { 
    min-height:100vh;
    height: 100%;
}
body { 
    height: 100vh;
}

nav {
    min-height: fit-content;
    /* height:10%;  */
    margin: 0;
}

.nav-wrapper {
    background: linear-gradient(to right, rgb(56, 0, 187) , rgb(109, 199, 206)); 
    min-height: fit-content;
}

section {
    height: 90%;
}

#full-body {
    height: 100%;
}

#right-section {
    height: 100%;
}

#search-bar {
    flex-direction: row;
}

#city-search-input {
    width: auto;
}

.valign-wrapper {
    width: max-content;
}

li {
    width: 100%;
}

#search-history-item {

}

#today-box {
    width: 100%;
}

#five-day-section {
    width: 100%;
}

#five-day-box {
    height: 45%;
    width: 100%;
    justify-content: space-between;
}



.card {
    max-height: 95%;
}

h3 {
    margin: 0;
}